<div class="container">
    <br>
    <h4>Login - Entre com seus dados para se logar.</h4>
    
    <form method="POST">
        <div class="mb-3">
        <label for="usuario" class="form-label">Usuario: </label>
        <input type="text" class="form-control" id="usuario" name="usuario" maxlength="90" aria-describedby="emailHelp">
        </div>
        
        <div class="mb-3">
        <label for="senha" class="form-label">Senha: </label>
        <input type="tel" class="form-control" id="senha" name="senha" aria-describedby="emailHelp">
        </div>
        
        <button type="submit" class="btn btn-primary">Logar</button>
    </form>



    

</div>

<script>
    const form = document.querySelector("form");
    form.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(e.currentTarget);
        const data = Object.fromEntries(formData);

        fetch("http://localhost:8081/login", {
            method: "POST",
            headers: {
                "content-type": "application/json",
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(e => console.log(e))
            .finally(() => console.log("FIM"))
    })
</script>
